body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    background-image: linear-gradient(to right, gray, navy);
    color: white;
    padding: 1rem 0 1rem 0;
}

#row {
    display: flex;
}

#search-box {
    margin-bottom: 1rem;
};

#major-cities {
    padding: 1rem 0 1rem 0;
}

#border {
    border-top: solid black 2px;
}

#city,
#Search,
.searchBtn {
    width: 100%;
    padding: 2px 0 2px 0;
    margin-top: 1rem;
}
#current-day {
    border: solid 1px black;
}

#forecast {
    display: flex;
    gap: 5%;
}

.forecast-block {
    background-color: rgb(60, 60, 115);
    justify-content: space-between;
    color: white;
}